#b {
    border-color: black;
    border-style: outset;
}

#b2 {
    border-color: brown;
    border-style: dashed;
    border-width: 5px;
}

#p {
    border-top-style: dashed;
    border-bottom-style: groove;
    border-left-style:dotted ;
    border-right-style: outset;

    border-width: 6px;

    border-left-color: red ;

    border-bottom-color:  green;
}

#h {
    text-align: center;
    border: 6px solid red;
    border-radius: 6px;
}