div {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    text-shadow: 10px;
    color: brown;
    text-transform: uppercase;

}


p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}


a {
    color: aqua;
}