#name1 {
    color: red;

}

.name2 {
    color: green;
}

.name3 {
    color: coral;
}


#color1 {
    color: rgb(0, 191, 255);
}
.color2 {
 color: #00bfff ;
}

.color3 {
    color: hsl(195, 100%, 50%)    ;
}

.op {
    opacity: 0.1;
    color: rebeccapurple;
}
.op1 {
    opacity: 0.3;
    color: rebeccapurple;
}
.op2 {
    opacity: 0.5;
    color: rebeccapurple;
}
.op3 {
    opacity: 0.7;
    color: rebeccapurple;
}
.op4 {
    opacity: 1;
    color: rebeccapurple;
}