.p1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-style: italic;


  }
  
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;

  }
  
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;

  }